* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #ffff00;


}
.container {
    padding: 5px;
border: black 10px dashed;
grid-column-gap: 97px;
display: grid;
grid-template-columns: repeat(5,200px)
}


#box1 {
    background-color: #38e100;
    width: 200px;
    height: 200px;
    border: 3px solid #62dede;
}

#box2 {
    background-color: #d80000;
    width: 200px;
    height: 200px;
    border: 3px solid #62dede;
}
#box3 {
    background-color: #455d20;
    width: 200px;
    height: 200px;
    border: 3px solid #62dede;
}
#box4 {
    background-color: #2e0392;
    width: 200px;
    height: 200px;
    border: 3px solid #62dede;
}
